/*1336806013,176833976*/

.pluginCountButton{background:#fff;border:1px solid #c1c1c1;height:14px;line-height:14px;margin-left:6px;min-width:15px;padding:1px 2px;text-align:center;display:inline-block}
.pluginCountButtonNub{height:0;left:2px;position:relative;top:-14px;width:5px;z-index:2}
.pluginCountButtonNub s, .pluginCountButtonNub i{border-color:transparent #D7D7D7 transparent;border-style:solid;border-width:4px 5px 4px 0;display:block;position:relative;top:1px}
.pluginCountButtonNub i{border-right-color:#fff;left:2px;top:-7px}
.pluginCountButtonDark{background:#d7d7d7;border-color:#d7d7d7;color:#333}
.pluginCountButtonDarkNub i{display:none}
.pluginCountTextConnected,
.pluginCountConnected .pluginCountTextDisconnected{display:none}
.pluginCountConnected .pluginCountTextConnected{display:inline}
.pluginErrorLink{color:#f03d25}
.sp_subscribe{background-image:url(https://s-static.ak.fbcdn.net/rsrc.php/v1/y1/r/6Q23cctms1R.png);background-repeat:no-repeat;display:inline-block;height:14px;width:14px}
.sx_subscribe_fav{background-position:-0px -0px}
.sx_subscribe_ch{background-position:-0px -15px}
.sx_subscribe_x{background-position:-0px -30px}
.pluginButtonIE b{background:#cad4e7;display:block;font-size:1px;height:1px;margin:0 1px;overflow:hidden}
.pluginButtonIE .pluginButton{border:0}
.pluginButtonIEPatty{border:solid #cad4e7;border-width:0 1px}
.pluginButtonIEPressed b{background:#ddd}
.pluginButtonIEPressed .pluginButtonIEPatty{border-color:#ddd}
.pluginSkinDark b{background:#999}
.pluginSkinDark .pluginButtonIEPatty{border-color:#999}
.pluginSkinDark .pluginButtonIEPressed b{background:#555}
.pluginSkinDark .pluginButtonIEPressed .pluginButtonIEPatty{border-color:#555}
.pluginButton{background:#eceef5;border-radius:3px;border:1px solid #cad4e7;cursor:pointer;padding:2px 6px 4px;white-space:nowrap;color:#3b5998}
.pluginButtonInline{display:inline-block}
.pluginButtonX{cursor:default}
.pluginButton button{background:transparent;border:0;margin:-1px;padding:0;font:inherit;color:inherit;cursor:pointer}
.pluginButton button::-moz-focus-inner{border:0;padding:0}
.pluginButtonIcon{position:relative;top:3px;margin-right:4px}
.pluginButtonSmall{padding:0 6px 2px 6px}
.pluginButton:hover{border-color:#9dacce}
.pluginButtonPressed, .pluginButtonPressed:hover{background-color:#eee;border-color:#ddd;color:#aaa}
.pluginSkinDark .pluginButton{background-color:#c7c7c7;border-color:#999;color:#333}
.pluginSkinDark .pluginButton:hover{background-color:#d9d9d9;border-color:#ddd}
.pluginSkinDark .pluginButtonPressed, .pluginSkinDark .pluginButtonPressed:hover{background-color:#444;border-color:#555;color:#666}
.pluginButtonErrorLink{color:#a00;font-weight:bold}
.pluginButtonX .pluginButtonXOff, .pluginButtonX button:hover .pluginButtonXOn{display:inline-block}
.pluginButtonX .pluginButtonXOn, .pluginButtonX button:hover .pluginButtonXOff{display:none}
.pluginFontArial{font-family:"arial", sans-serif}
.pluginFontLucida{font-family:"lucida grande", sans-serif}
.pluginFontSegoe{font-family:"segoe ui", sans-serif}
.pluginFontTahoma{font-family:"tahoma", sans-serif}
.pluginFontTrebuchet{font-family:"trebuchet ms", sans-serif}
.pluginFontVerdana{font-family:"verdana", sans-serif}
.pluginFontLarge{font-size:13px}
body.plugin{background:transparent;overflow:hidden}
.sp_favicon{background-image:url(https://s-static.ak.fbcdn.net/rsrc.php/v1/yQ/r/Uk6BAIXon_o.png);background-repeat:no-repeat;display:inline-block;height:14px;width:14px}
.sx_favicon_fav{background-position:-0px -0px}
.sx_favicon_favgrey{background-position:-0px -15px}
.sp_send{background-image:url(https://s-static.ak.fbcdn.net/rsrc.php/v1/yB/r/L_eKU7B19IY.png);background-repeat:no-repeat;display:inline-block;height:14px;width:14px}
.sx_send_fav{background-position:-0px -0px}
.sx_send_favgrey{background-position:-0px -15px}
.pluginSkinDark{color:gray}
.pluginSkinDark .fcb{color:gray}
.pluginSkinDark .fcg{color:#555}
.pluginSkinDark a{color:#fff}
.pluginSkinDark a.uiLinkSubtle{color:#555}
.sp_ek3b3d{background-image:url(https://s-static.ak.fbcdn.net/rsrc.php/v1/yM/r/5Fnwp0swJVe.png);background-repeat:no-repeat;display:inline-block;height:14px;width:14px}
.sx_fe0810{background-position:-0px -0px}
.sx_0d5951{background-position:-0px -15px}
.sx_96734c{background-position:-0px -30px}
.sx_0b14df{background-position:-0px -45px}

#bootloader_cbOsa { height: 42px; }