/*1336806011,169775813*/

.fbDarkWidget .fan_box,
.fbDarkWidget .uiStream .uiStreamMessage{color:gray}
.fbDarkWidget .fan_box a{color:#ccc}
.fan_box .full_widget{border:solid 1px #94a3c4;background:white}
.fan_box .full_widget .connect_top{background:#eceff5}
.fan_box .connect_top{padding:10px 10px 8px 10px}
.pts .fan_box .connect_top{padding:5px 10px 8px 5px}
.fan_box .profileimage{float:left;width:40px;height:40px;padding:0 10px 0 0;margin:0 0 4px 0}
.fan_box .connect_action{padding:0 0 0 8px}
.fan_box .connect_action .name{line-height:15px;font-size:14px;font-weight:bold}
.fan_box .connect_button{padding-top:5px}
.fan_box .connect_button .uiButton{margin:1px 0 0 0}
.fan_box .connect_action a.undo{margin:0 0 0 3px}
.fan_box .page_stream, .fan_box .page_stream_short{text-align:center;padding:0 5px;overflow:auto;border-top:solid 1px #d8dfea;position:relative}
.fan_box .storyContent{text-align:left}
.fan_box .page_stream{overflow-x:hidden}
.fan_box .page_stream .loader{padding-top:20px}
.fan_box .UIIntentionalStory{background:transparent;text-align:left;padding:7px 0 0 0}
.fan_box .UIIntentionalStory .UIMediaItem_UnknownWidth{max-width:100px}
.fan_box .connections{border-top:solid 1px #d8dfea;padding:10px 0 4px 10px;min-height:150px}
.pts .fan_box .connections{padding:5px 0 4px 5px}
.fan_box .connections .connections_grid{padding-top:5px}
.fan_box .connections_grid .grid_item{float:left;padding:0 5px 8px 0;overflow:hidden;width:50px}
.fan_box .connections_grid .grid_item .name{font-size:9px;color:gray;overflow:hidden;padding-top:2px;text-align:center;white-space:nowrap}
.fan_box .connect_span{margin:0 0 1px}
.fan_box .connect_widget .connect_widget_text{padding:0}
.fan_box .connect_widget td.connect_widget_vertical_center{height:20px}
.fan_box .connect_widget .connect_widget_interactive_area{margin:5px 0 0}
.connect_comment_widget{margin:0;padding:5px 0;position:relative}
.connect_comment_widget .nub{background:url(https://s-static.ak.fbcdn.net/rsrc.php/v1/yv/r/agyQHs6yLID.gif);height:6px;width:9px;padding:0;margin:0;line-height:0;position:absolute;z-index:2;top:0;visibility:hidden}
.connect_comment_widget .side_nub{background:transparent url(https://s-static.ak.fbcdn.net/rsrc.php/v1/yn/r/vAOEfR4cWQM.gif) no-repeat 0 0;height:20px;width:6px;padding:0;margin:0;left:-5px;line-height:0;position:absolute;z-index:2;top:14px}
.connect_comment_widget_rtl .side_nub{background:transparent url(https://s-static.ak.fbcdn.net/rsrc.php/v1/yK/r/R95msRfVr6a.gif) no-repeat 0 0}
.connect_comment_widget .comment_content{background:white;border-color:#333333 #333333 #283e6c;border-style:solid;border-width:1px 1px 2px;zoom:1}
.connect_comment_widget .connect_comment_widget_text{padding:8px 8px 4px}
.connect_comment_widget .connect_comment_widget_custom_text{color:gray}
.connect_comment_widget .connect_comment_widget_placeholder_input{width:304px;color:gray;line-height:16px;height:20px}
.connect_comment_widget .connect_comment_widget_placeholder_input_region{padding:8px 8px 5px}
.connect_comment_widget .connect_comment_widget_user_pic{display:block;float:left;height:auto;padding:0 5px 0 0;width:50px}
.connect_comment_widget .connect_comment_widget_full_input_textarea{height:50px;width:310px}
.connect_comment_widget .connect_comment_widget_full_input_region{padding:8px 8px 5px}
.connect_comment_widget textarea.connect_comment_widget_disabled{color:gray}
.connect_comment_widget.like_button_dark textarea.connect_comment_widget_disabled{color:#dedede}
.connect_comment_widget div.connect_comment_share_preview{padding-left:55px;padding-top:6px}
.connect_comment_widget div.connect_comment_widget_button_region{padding:8px 8px 5px;text-align:right;background-color:#f2f2f2;border-top:1px solid #bdc7d8}
.connect_comment_widget_checkbox_region div.uiinputlabel{display:inline-block;float:left}
.connect_comment_widget.like_button_dark div.connect_comment_widget_button_region{background-color:#333;border-top:1px solid #666}
.like_button_dark .nub, .like_button_dark .connect_widget_comment_box_upward_nub{background-image:url(https://s-static.ak.fbcdn.net/rsrc.php/v1/yL/r/7vbl1usLlV8.gif)}
.like_button_dark .side_nub{background:transparent url(https://s-static.ak.fbcdn.net/rsrc.php/v1/yB/r/Gvy8rtIdNBK.gif) no-repeat 0 0;left:-4px}
.connect_comment_widget_rtl.like_button_dark .side_nub{background:transparent url(https://s-static.ak.fbcdn.net/rsrc.php/v1/yp/r/E-2vs4qfO7d.gif) no-repeat 0 0}
.like_button_dark .comment_content{background:#111;border:1px solid #666;border-bottom:2px solid #ccc;color:#ccc}
.like_button_dark .connect_comment_widget_placeholder_input{border:1px solid #505050;background:#505050;color:#fff}
.like_button_dark .connect_comment_widget_full_input_textarea, .like_button_dark .connect_comment_widget_placeholder_input{background-color:#000;border-color:#434343;color:#fff}
.like_button_dark .connect_comment_widget_full_input_textarea{color:#fff}
.like_button_dark a{color:#fff}
.connect_comment_widget .connect_comment_widget_title{font-size:12px;font-weight:bold;margin-top:-2px}
.connect_comment_widget.like_button_dark .connect_comment_widget_title{color:#fff}
.connect_comment_widget .connect_comment_widget_description, .connect_comment_widget .connect_comment_widget_href{font-size:11px;line-height:11px;margin-bottom:6px}
.connect_comment_widget .connect_comment_widget_description{color:#000}
.connect_comment_widget.like_button_dark .connect_comment_widget_description{color:#fff}
.like_button_dark .connect_comment_widget_href{color:gray}
.connect_widget_like_button .liketext{background:url(https://s-static.ak.fbcdn.net/rsrc.php/v1/y7/r/ql9vukDCc4R.png) -1px -33px no-repeat}
.connect_widget a.like_button_no_like:hover .piece, .connect_widget a.like_button_no_like:hover{background-color:#eceef5;border-color:#9dacce}
.connect_widget .like_button_like ,
.connect_widget .like_button_like .piece{background-color:#eee;border-color:#ddd;cursor:default}
.connect_widget .like_button_dark .like_button_like ,
.connect_widget .like_button_dark .like_button_like .piece{background-color:#444;border-color:#555;cursor:default}
.connect_widget .like_button_like .corner{background-position:10px -229px}
.connect_widget .like_button_dark .like_button_like .corner{background-position:10px -223px}
.connect_widget .like_button_like .liketext{background-image:none;clear:right;color:#aaa}
.connect_widget .tombstone_cross{background:url(https://s-static.ak.fbcdn.net/rsrc.php/v1/y7/r/ql9vukDCc4R.png) no-repeat 0 -128px;display:block;float:left;height:12px;margin-right:3px;width:14px;z-index:99}
.connect_widget .tombstone_cross_static{cursor:default}
.like_button_no_like .tombstone_cross{display:none}
.like_button_like .tombstone_cross{display:block}
.connect_widget .like_button_dark .like_button_like .tombstone_cross{background:url(https://s-static.ak.fbcdn.net/rsrc.php/v1/y7/r/ql9vukDCc4R.png) no-repeat 0 -156px}
.connect_widget .like_button_like .tombstone_cross:hover{background-position:0 -235px;cursor:pointer}
.connect_widget .like_button_like .tombstone_cross_static:hover{background-position:0 -128px;cursor:default}
.connect_widget .like_button_simple .like_button_like .tombstone_cross:hover{background-image:url(https://s-static.ak.fbcdn.net/rsrc.php/v1/y7/r/ql9vukDCc4R.png);background-position:0 -128px;cursor:auto;height:12px;margin-left:0;margin-right:3px;margin-top:0;width:14px}
.connect_widget .like_button_dark .like_button_like .tombstone_cross:hover{background-position:0 -247px}
.connect_widget .connect_button_container .like_button_like .liketext,
.connect_widget .connect_widget_connect_button .like_button_like .liketext{padding-left:17px}
.connect_widget_comment_box div.connect_widget_comment_box_nub{background:none}
.connect_widget .like_button_dark .like_button_like .liketext{color:#666}
div.connect_widget div.connect_confirmation_cell_like{padding-left:7px}
.connect_widget{overflow:hidden}
.connect_widget .connect_widget_facebook_logo_menubar{background-color:#3b5998;border:1px solid #244588;border-bottom:none;margin-bottom:-1px;position:relative}
.connect_widget .connect_widget_facebook_logo{padding:3px 0 5px 6px;float:left}
.connect_widget .connect_widget_facebook_logo span{background:transparent url(https://s-static.ak.fbcdn.net/rsrc.php/v1/yx/r/zZEOQP4uOC1.gif) no-repeat scroll 0 0;display:block;height:17px;width:90px}
.connect_widget .connect_widget_facebook_logo:hover span{background-position:left -17px}
.connect_widget .connect_widget_menu_options{float:right}
.connect_widget .connect_widget_menu_link{float:left;height:17px;margin-right:5px;padding:5px 5px 3px 5px;color:#fff;font-size:11px}
.connect_widget .connect_widget_menu_link:hover{background-color:#5c75aa;text-decoration:none}

#bootloader_PtQYf { height: 42px; }