/*1336806013,176820664*/

.connect_widget .large_font{font-size:13px}
.metadata{color:#000;font-size:11px;margin:7px 0 4px 0}
.metadata_with_margin{margin-left:16px}
.profile_images_without_margin{margin-left:0}
.uiFacepileMedium li.profile_image_small img.uiProfilePhoto{display:block;float:left;height:32px;padding:3px 3px 0 0;width:32px}
.uiFacepileMedium li.profile_image_small{height:35px;margin:0}
.pluginLogin{min-height:22px}
.connect_widget .metadata .connect_widget_text_no_icon{padding:0}
.connect_widget .buttonBlock .fb_button, .connect_login_face{vertical-align:top}
.connect_login_face{margin-left:3px}
.connect_login_face_small{width:18px;height:18px}
.connect_login_face_medium{width:22px;height:22px}
.connect_login_face_large{width:25px;height:25px}
.connect_login_face_xlarge{width:39px;height:39px}
.connect_widget .connect_widget_interactive_area{border-collapse:collapse}
.connect_widget td.connect_widget_vertical_center{border-spacing:0;font-size:11px;line-height:normal;padding:0}
.connect_widget td.connect_widget_button_cell{vertical-align:top}
.connect_widget td.connect_widget_confirm_cell{padding-top:4px}
.connect_widget .connect_button_slider{position:relative;zoom:1}
.connect_widget .connect_widget_button_cell .connect_slide_hide_content{overflow:hidden;width:1px;margin-right:0}
.connect_widget .connect_slide_hide_content .connect_button_container{margin-left:1px}
.button_count .connect_widget_interactive_area .connect_widget_facebook_favicon, .button_count .connect_widget_interactive_area .connect_widget_text{float:left;position:static}
a.connect_widget_like_button{display:block;float:left;border-radius:3px;-moz-border-radius:3px;padding:4px 5px;border:1px solid #000}
.button_count a.connect_widget_like_button{padding:2px 4px}
a.connect_widget_like_button span{line-height:14px}
a.connect_widget_like_button:hover{text-decoration:none}
.connect_widget_number_cloud{position:relative;background:#fff;border:1px solid #d3d3d3;height:25px;padding-top:7px;text-align:center}
.like_widget_dark div.connect_widget_number_cloud{background-color:#d7d7d7;border-color:#d7d7d7}
div.connect_widget_number_cloud table.connect_widget_number_cloud_summary{margin-left:auto;margin-right:auto}
div.connect_widget_number_cloud table.connect_widget_number_cloud_summary td{font-size:13px}
.thumbs_up_icon{width:15px;height:15px;margin-right:2px;background:url(https://s-static.ak.fbcdn.net/rsrc.php/v1/y7/r/ql9vukDCc4R.png) -1px -32px no-repeat}
.like_widget_dark .thumbs_up_icon{background-position:-1px -2px}
.like_widget_dark div.connect_widget_number_cloud_extension a{color:#333}
div.connect_widget_number_cloud .connect_widget_text{padding-left:0}
.connect_widget_number_cloud_nub{position:absolute;z-index:2;height:7px;width:7px;bottom:-7px;left:5px}
.connect_widget_number_cloud_nub s, .connect_widget_number_cloud_nub i{border:solid transparent;border-top-color:#d3d3d3;border-width:5px;display:block;position:relative}
.connect_widget_number_cloud_nub i{left:0;top:-12px;border-top-color:#fff}
.like_widget_dark .connect_widget_number_cloud_nub s{border-top-color:#d7d7d7}
.like_widget_dark .connect_widget_number_cloud_nub i{display:none}
.connect_widget_offscreen{position:absolute;top:-10000px}
div.connect_widget_number_cloud_extension{font-size:11px;height:30px;margin-left:4px;margin-right:4px;margin-top:6px}
div.connect_widget_number_cloud_extension_icon{margin-left:2px;margin-top:3px}
div.connect_widget_number_cloud_extension_text{border-color:#dedede;border-width:1px 0 0 0;border-style:solid;line-height:11px;margin-top:1px;text-align:center}
div.connect_widget_number_cloud_extension_text table{width:100%}
div.connect_widget_number_cloud_extension_text td{height:30px;text-align:center;vertical-align:middle}
div.connect_widget_number_cloud_extension span.like_reminder{color:#777;font-size:9px}
.like_widget_dark div.connect_widget_number_cloud_extension span.like_reminder{color:#333;font-size:9px}
table.connect_widget_button_count_summary, table.connect_widget_simple_summary{background-color:#eceef5;color:#000;font-size:11px;height:21px}
table.connect_widget_button_count_summary div.thumbs_up{background:url(https://s-static.ak.fbcdn.net/rsrc.php/v1/y7/r/ql9vukDCc4R.png) no-repeat 3px -32px #eceef5;height:15px;width:18px}
td.connect_widget_simple_including div.simple_liked{background:url(https://s-static.ak.fbcdn.net/rsrc.php/v1/y7/r/ql9vukDCc4R.png) no-repeat 3px -47px #eceef5;height:15px;width:18px}
.like_button_simple .connect_widget_like_button .liketext{background:url(https://s-static.ak.fbcdn.net/rsrc.php/v1/y7/r/ql9vukDCc4R.png) no-repeat 0 -47px #eceef5}
.connect_widget_rtl table.connect_widget_button_count_summary div.thumbs_up{background-position:-1px 0}
table.connect_widget_button_count_summary div.undo{background-color:#eceef5;height:21px;width:18px}
.like_button_dark table.connect_widget_button_count_summary div.undo{background-color:#d7d7d7}
table.connect_widget_button_count_summary label.undo_button{margin-left:6px;margin-top:4px}
table.connect_widget_button_count_summary div.summary_text{padding-left:3px;padding-right:6px;white-space:nowrap}
table.connect_widget_simple_summary div.summary_text{padding-left:3px;padding-right:6px;white-space:nowrap;color:#ccc}
.like_button_dark table.connect_widget_button_count_summary, .like_button_dark table.connect_widget_simple_summary{background-color:#d7d7d7}
.like_button_dark table.connect_widget_button_count_summary div.thumbs_up{background:transparent url(https://s-static.ak.fbcdn.net/rsrc.php/v1/y7/r/ql9vukDCc4R.png) no-repeat 3px -3px}
.connect_widget_rtl .like_button_dark table.connect_widget_button_count_summary div.thumbs_up{background-position:-1px -3px}
.connect_widget_button_count_count{background:#fff;border:1px solid #d1d1d1;float:left;font-weight:normal;height:14px;margin-left:1px;min-width:15px;padding:1px 2px 1px 2px;text-align:center;line-height:14px;white-space:nowrap}
.like_button_dark div.connect_widget_button_count_count{background-color:#d7d7d7;border-color:#d7d7d7}
.connect_widget_button_count_nub{float:left;position:relative;z-index:2;height:0;width:5px;top:-5px;left:2px}
.connect_widget_button_count_nub s, .connect_widget_button_count_nub i{border:solid transparent;border-right-color:#d7d7d7;border-width:4px 5px 4px 0;top:1px;display:block;position:relative}
.connect_widget_button_count_nub i{left:2px;top:-7px;border-right-color:#fff}
.like_button_dark .connect_widget_button_count_nub i{display:none}
td.connect_widget_button_count_excluding{padding:0}
td.connect_widget_button_count_including, td.connect_widget_simple_including{padding:0}
td.connect_widget_button_count_including .connect_widget_button_count_count.noGrayOut{background:transparent url(https://s-static.ak.fbcdn.net/rsrc.php/v1/yp/r/qDH1xoDhFBF.gif) no-repeat 4px 2px;padding-left:22px;padding-right:4px}
.connect_widget_rtl td.connect_widget_button_count_including .connect_widget_button_count.noGrayOut{background:transparent url(https://s-static.ak.fbcdn.net/rsrc.php/v1/yp/r/qDH1xoDhFBF.gif) no-repeat 4px 2px;padding-right:22px;padding-left:4px}
.connect_widget_like_button .vertical{display:block;top:-6px;left:0;margin:0 3px -6px 0;position:relative;padding:3px 4px 4px 3px;border-top:solid 1px;border-bottom:solid 1px}
.button_count .connect_widget_like_button .vertical{padding:2px 3px 3px 2px}
.connect_widget_like_button .horizontal{height:100%;width:100%;position:absolute;display:block;top:-3px;left:-3px;padding-left:1px;border-left:solid 1px;border-right:solid 1px}
.connect_widget_like_button .corner_mask{overflow:hidden;width:3px;height:3px;position:absolute;display:block}
.connect_widget_like_button .corner{background-image:url(https://s-static.ak.fbcdn.net/rsrc.php/v1/y7/r/ql9vukDCc4R.png);height:6px;width:6px;display:block}
.connect_widget_like_button .topleft{top:-6px;left:-3px}
.connect_widget_like_button .topleft .corner{margin:0 0}
.connect_widget_like_button .topright{top:-6px;right:0}
.connect_widget_like_button .topright .corner{margin:0 0 0 -3px}
.connect_widget_like_button .bottomright{bottom:0;right:0}
.connect_widget_like_button .bottomright .corner{margin:-3px 0 0 -3px}
.connect_widget_like_button .bottomleft{bottom:0;left:-3px}
.connect_widget_like_button .bottomleft .corner{margin:-3px 0 0 0}
.connect_widget_like_button .liketext{background:url(https://s-static.ak.fbcdn.net/rsrc.php/v1/y7/r/ql9vukDCc4R.png) -1px -33px no-repeat;color:#3b5998;display:block;padding-left:17px;white-space:nowrap}
.connect_widget_rtl .connect_button_container .liketext{background:url(https://s-static.ak.fbcdn.net/rsrc.php/v1/y7/r/ql9vukDCc4R.png) 34px -33px no-repeat}
.connect_widget_like_button .liketextwithimage img{margin-bottom:-2px;margin-right:4px;width:13px}
.hidden .connect_widget_like_button .liketextwithimage img{height:0;margin:0;padding:0;width:0}
.connect_widget_like_button .fbLikeButtonTrackingPixel{display:inline;height:0;width:0}
.button_count .like_button_dark .like_button_no_like .liketext, .button_count .connect_widget_like_button .liketext{background-position:left -47px;margin-left:-1px}
.connect_widget .like_button_no_like .piece, .connect_widget .like_button_no_like{background-color:#eceef5;border-color:#cad4e7}
.connect_widget .like_button_no_like .corner{background-position:10px -89px}
.connect_widget a.like_button_no_like:hover .piece, .connect_widget a.like_button_no_like:hover{background-color:#ebedf4;border-color:#9dacce}
.connect_widget .like_button_no_like:hover .corner{background-position:10px -95px}
.connect_widget .like_button_pressed, .connect_widget .like_button_pressed .piece{background-color:#ced4e6;border-color:#94a5ca}
.connect_widget .like_button_pressed .corner{background-position:10px 55px}
.connect_widget .like_button_like .corner{background-position:10px 49px}
.connect_widget .like_button_dark .like_button_no_like, .connect_widget .like_button_dark .like_button_no_like .piece{background-color:#d7d7d7;border-color:#cad4e7}
.connect_widget .like_button_dark .like_button_no_like .corner{background-position:10px -217px}
.connect_widget .like_button_dark .liketext{color:#333;background-position:left -3px;margin-left:-1px}
.connect_widget .like_button_dark .like_button_no_like:hover, .connect_widget .like_button_dark .like_button_no_like:hover .piece{background-color:#d9d9d9;border-color:#e9e9e9}
.connect_widget .like_button_dark .like_button_no_like:hover .corner{background-position:10px -217px}
.connect_widget .like_button_dark .like_button_no_like_pressed, .connect_widget .like_button_dark .like_button_no_like_pressed .piece{background-color:#a8a8a8;border-color:#a8a8a8;border-top-color:#8f8f8f}
.connect_widget .like_button_dark .like_button_no_like_pressed .corner{background-position:10px 80px}
.connect_widget .like_button_dark .like_button_like .corner{background-position:10px 74px}
.connect_widget .connect_text_wrapper{position:relative}
.connect_widget div.connect_confirmation_cell{padding:0;margin:0}
.connect_widget div.connect_confirmation_cell_like{padding-left:0;position:relative;left:-1px}
.connect_widget div.connect_confirmation_cell_no_like{padding-left:7px}
.connect_widget .vertical_centering{padding-top:5px}
.connect_widget .connect_widget_text{display:block;padding-left:17px;line-height:14px}
.button_count .connect_widget_interactive_area .connect_widget_text{padding-left:0;font-weight:bold}
.connect_widget .like_button_dark .connect_widget_text, .connect_widget .like_button_dark .connect_widget_confirmation{color:gray}
.connect_widget .like_button_dark .connect_widget_text a{color:#fff}
.connect_widget .connect_widget_connect_button{float:left}
.connect_widget .connect_bar_widget_interactive_area{float:left}
.connect_widget .connect_bar_widget_text_cell{width:400px}
.connect_widget .connect_widget_icon{padding:4px 0 4px 4px;vertical-align:middle}
.connect_widget a.connect_widget_link_inactive{color:gray;text-decoration:none;cursor:default}
.connect_widget a.connect_widget_error_text{color:#a00;font-weight:bold}
.transparent_widget .uiBoxLightblue{background-color:transparent;background-color:rgba(165, 175, 200, .2)}
.transparent_widget .uiBoxWhite, .transparent_widget .fbConnectWidgetFooter{background-color:transparent;background-color:rgba(255, 255, 255, .2)}
div.connect_widget_comment_box_nub{background:transparent url(https://s-static.ak.fbcdn.net/rsrc.php/v1/yn/r/vAOEfR4cWQM.gif) no-repeat 0 0;height:12px;left:-6px;position:absolute;top:6px;width:20px;z-index:3}
div.connect_widget_comment_box_upward_nub{background:transparent url(https://s-static.ak.fbcdn.net/rsrc.php/v1/yv/r/agyQHs6yLID.gif) no-repeat 0 0;height:12px;left:5px;position:absolute;top:-6px;width:20px;z-index:3}
.connect_widget_rtl div.connect_widget_comment_box_nub{background:transparent url(https://s-static.ak.fbcdn.net/rsrc.php/v1/yK/r/R95msRfVr6a.gif) no-repeat 0 0;left:-20px}
.connect_widget div.connect_widget_comment_box{background-color:#fff;border-color:#000;border-style:solid;border-width:1px 1px 2px 1px;position:relative;z-index:100}
.connect_widget div.connect_widget_comment_box.like_button_dark{background-color:#111;color:#ccc;border-color:#666}
.connect_widget div.like_button_dark input.connect_widget_comment_textinput{background-color:#666;border-color:#666;color:#dedede}
.connect_widget div.connect_widget_header_text{float:left;height:20px;overflow:hidden;padding-left:7px;padding-top:3px;width:200px}
.connect_widget div.connect_widget_cancel_button{cursor:pointer;float:right;padding-right:7px;padding-top:3px}
.connect_widget div.connect_widget_comment_text_area_div{padding-left:7px;padding-top:2px}
.connect_widget div.connect_widget_comment_area{padding:8px}
.connect_widget .connect_widget_comment_textinput{width:325px}
.connect_widget .connect_widget_comment_summary{padding:7px 5px 7px 5px}
.connect_widget .connect_widget_comment_button{margin-left:-1px}
.connect_widget .connect_widget_comment_close_button{margin-left:2px}
.connect_widget .like_button_dark .connect_widget_comment_close_button{background-image:url(https://s-static.ak.fbcdn.net/rsrc.php/v1/yE/r/htZktl244wt.png);background-repeat:no-repeat;opacity:.7}
.connect_widget .like_button_dark .connect_widget_comment_close_button:hover{opacity:1}
.connect_widget textarea.connect_widget_comment_text_area{height:30px;width:476px}
.connect_widget .connect_widget_image{height:30px;width:30px;vertical-align:bottom}
.connect_widget .connect_widget_name{text-align:center}
.connect_widget .connect_widget_sample_connection{float:left;padding-right:3px;width:30px;padding-top:5px}
.connect_widget .connect_widget_user_not_connected{display:none}
.connect_widget .connect_bar_widget_sample_connections{float:right}
.connect_widget .connect_widget_whats_this{color:#999;font-size:9px;padding-top:4px}
.connect_widget .connect_widget_whats_this a:hover{color:#3b5998;text-decoration:none}
.connect_widget .page_stream img{max-width:120px;height:auto}
.pluginAddToProfile{width:300px;height:249px;border-top:solid 1px #3b5998}
.pluginAddToProfileBox{border-top:none}
.pluginAddToProfileFbBar{height:13px;border-left:solid 1px #3b5998;border-right:solid 1px #3b5998}
.pluginAddToProfileHeaderBox,
.pluginAddToProfileFooterBox{padding:8px 10px}
.pluginAddToProfileHeaderText{line-height:16px;padding-top:0}
.pluginAddToProfileFooterBox{min-height:25px}
.pluginAddToProfileFooterBlockSocial{margin-bottom:4px}
.pluginAddToProfileFooterTextSocial{padding:0;position:relative;top:-1px}
.pluginAddToProfileFooterTextNotSocial{padding:0;position:relative;top:-2px;width:111px !important}
.pluginAddToProfileFacepile{float:left;margin-left:18px}
.pluginAddToProfileFacepile .uiProfilePhotoSmall{width:25px;height:25px}
.pluginAddToProfileButtonSocial{margin:0 0 1px 5px}
.pluginAddToProfileButtonNotSocial{float:right}
.pluginAddToProfileActivityNote{margin-top:3px}

#bootloader_rz32c { height: 42px; }