#tesbox{
	width: 70%;
	border: 1px solid #EBE1F7;
	border-radius: 13px;
	margin-left: 12%;
	padding: 3% 2% 0 2%;
	font-family: Arial;	
}

.teskepala{
	text-align: center;
	font-size: 34px;
	font-family: sans-serif;
	margin-bottom: 25px;
	font-weight: bold;
}

.tesisi{
	border-bottom: 1px solid #EBE1F7;
	padding: 9px 9px 9px 9px;
	margin-bottom: 7px;
	font-size: 13px;
}

.testanggal{
	font-weight: bold;
	display: inline-block;
}

.tesnama{
	font-weight: bold;
	float: right;
	display: inline-block;
}

.tesjudul{
	font-weight: bold;
	text-align: center;
	margin-top: 9px;
}

.testes{
	margin-top: 14px;
	padding: 0 20px 7px 20px;
}