<head>
	<link rel="stylesheet" type="text/css" href="testimoni.css">
</head>

<body>
	<div id="tesbox">
	
		<div class="teskepala">
			T E S T I M O N I
		</div>
	
		<div class="tesisi">
			<div class="testanggal">
				14 Feb 2015 14:24:39
			</div>
			<div class="tesnama">
				Johna758
			</div>
			<div class="tesjudul">
			</div>
			<div class="testes">
				Hello, i think that i saw you visited my site so i came to return the favor.I am trying to find things to enhance my web site!I suppose its ok to use some of your ideas!! fgfadkgcakeg 
			</div>
		</div>
		
		<div class="tesisi">
			<div class="testanggal">
				04 Feb 2015 10:23:05
			</div>
			<div class="tesnama">
				vadiansyah
			</div>
			<div class="tesjudul">
				Rekomanded Seler
			</div>
			<div class="testes">
				Mantap barang sama persis dengan yanbg digambar, dan pengepakan sangat baik, thanks 
			</div>
		</div>
		
		<div class="tesisi">
			<div class="testanggal">
				31 Dec 2014 21:30:50
			</div>
			<div class="tesnama">
				Smithb172
			</div>
			<div class="tesjudul">
				konfirmasi
			</div>
			<div class="testes">
				Barang sudah kami terima dan sesuai pesanan.</br>
				Terima kasih 
			</div>
		</div>
		
		<div class="tesisi">
			<div class="testanggal">
				24 Dec 2014 09:01:38
			</div>
			<div class="tesnama">
				Rezki Wicaksono
			</div>
			<div class="tesjudul">
				Pesan Samsung S4
			</div>
			<div class="testes">
				Dear DAHM,

				Samsung warna merah-hitam yang saya pesan sudah saya terima dengan baik kemaren hari selasa tanggal 23 desember 2014.</br>
				Barang sesuai sama yang tertera digambar, kualitas barang juga bagus pantesan aja harganya mahal.
				</br></br>
				tapi ada harga pasti ada rupa.
				</br></br>
				terima kasih ya Roda Dua atas pelayanannya. 
			</div>
		</div>
		
		<div class="tesisi">
			<div class="testanggal">
				14 Dec 2014 18:36:54
			</div>
			<div class="tesnama">
				Andry Kurniawan
			</div>
			<div class="tesjudul">
				Pesannya cepat banget
			</div>
			<div class="testes">
				 pelayanannya enak ga jutek kayak toko2 yang lain, TOP deh buat DAHM :) 
			</div>
		</div>
		
		<div class="tesisi">
			<div class="testanggal">
				07 Dec 2014 06:34:24
			</div>
			<div class="tesnama">
				andriana
			</div>
			<div class="tesjudul">
				pesanan cepat dikirim
			</div>
			<div class="testes">
				 pesanannya cepat dikirim, terima kasih... 
			</div>
		</div>
		
		<div class="tesisi">
			<div class="testanggal">
				02 Dec 2014 12:07:46
			</div>
			<div class="tesnama">
				Ardo Rama Wijaya
			</div>
			<div class="tesjudul">
				Belanja mudah
			</div>
			<div class="testes">
				 Thanks bgd DAHM,ternyata belanja disini enak yaa cepet dan hasilnya bagus
			</div>
		</div>
		
		<div class="tesisi">
			<div class="testanggal">
				27 Nov 2014 16:32:18
			</div>
			<div class="tesnama">
				Kiki Bayhaki
			</div>
			<div class="tesjudul">
				Barang sudah sampai
			</div>
			<div class="testes">
				DAHM terimakasih barang yang saya pesan sudah sampai..1 hari saja.</br>
				soal Kualitas memang keren banget...</br></br>
				Kiki 
			</div>
		</div>
		
		<div class="tesisi">
			<div class="testanggal">
				14 Nov 2014 12:59:53
			</div>
			<div class="tesnama">
				Surya
			</div>
			<div class="tesjudul">
				Belanja Puass
			</div>
			<div class="testes">
				Belanja di DAHM ga kecewa, pesanan jas hujan sy sampai dg cepat dn selamat. thx! 
			</div>
		</div>
		
		<div class="tesisi" style="border: none;">
			<div class="testanggal">
				18 Oct 2014 17:08:07
			</div>
			<div class="tesnama">
				Iwan Basri
			</div>
			<div class="tesjudul">
				Tq
			</div>
			<div class="testes">
				Terima kasih, pesanan barang udh sampe, tq skali lagi buat DAHM.. very recomanded...  
			</div>
		</div>
		
	</div>
</body>