.archivedate{
}

.archivedate_expanded{
    position: relative;
}

.box{
    border: 1px solid #d9d9d9;
    width: 205px;
    height: 350px;
    border-radius: 10px;
}

#kanan{
    position: relative;
    top: -910px;
    left: 1050px;
}

#tabel{;
    top: 10px;
    left: 0px;
}

.judul{
    height: 29px;
    border-bottom: 1px dashed #d9d9d9;
    color: #000000;
    font-size: 18px;
    font-family: arial;
    font-weight: bold;
    margin: 10px 0 0;
    text-align: center;
}

.jenis{
    position: relative;
    top: -5px;
    left: -30px;
    width: 205px;
    height: 110px;
    margin-top: 18px;
}

ul{
    list-style: none;
}

.box2{
    border: 1px solid #d9d9d9;
    width: 205px;
    height: 80px;
    margin-bottom: 15px;
    border-radius: 10px;
}

.total{
    position: relative;
    top: 7px;
    left: 60px;
    width: 80px;
    height: 30px;
    font-size: 24px;
    font-family: arial;
    font-weight: bold;
}

.footer{
    position: relative;
    top: -200px;
    left: 68px;
    width: 906px;
    height: 200px;
    border: 1px solid;
    border-color: #d9d9d9;
    border-radius: 10px;
    padding-left: 16px;
}

.daftar{
    display: inline-block;
    width: 20.5%;
    margin: 0 0 0 3%;
}

.jenis2{
    height: 34px;
    margin: 13px 0 0 0;
    text-align: center;
    font-family: Arial;
    font-size: 17px;
    border-bottom: 1px dashed;
    border-color: #d9d9d9;
}

.isi{
    margin-top: 18px;
    height: 154px;
    font: 14.5px Arial;
    font-weight: 1;
}

.noindentbullet{
    list-style:none;
    padding-left:0;
    list-style-type: none;
    line-height: 23px;
}

.nogariswarna{
    text-decoration: none;
    color: 363636;
}

.nogariswarna:hover{
    text-decoration: underline;
}

.cobacoba{
    font-weight: 17px;
}
/*
    isi
*/

    #wrapper{
    word-wrap: break-word;
}

#dasar{
    position: relative;
    width: 1000px;
    height: 820px;
    padding: 15px 15px 15px 15px;
	left: 50px;
}

.barang{
    display: inline-block;
    width: 200px;
    height: 275px;
    margin: 5px 4px 5px 4px;
    padding: 3px 10px 0px 10px;
    border: 1px solid;
    border-radius: 13px;
    border-color: #d9d9d9;
}

.barang:hover{
    border-color: black;
}

.nama-barang{
    padding: 6px;
    height: 30px;
    margin: 10px 0 3px 0;
    text-align: center;
    font-family: Arial;
    font-weight: normal;
    font-size: 17px;
}

.gambar-barang{
    text-align: center;
}

.harga-barang{
    display: inline-block;
    margin-left: 10px;
    text-align: left;
    line-height: 35px;
    font-family: Arial;
    font-weight: normal;
    font-size: 12px;
}

.tombol{
    display: inline-block;
    margin-left: 17px;
}

.tombol-barang{
    height: 28px;
    background-color: white;
    border: 1px solid;
    border-radius: 5px;
    border-color: #d9d9d9;
}

.tombol-barang:hover{
    border: 1.5px solid;
    border-color: black;
}