ul#nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	position:relative;
	left:29%;

}

li#nav {
    float: left;
	     display: inline;
}

a#nav:link, a#nav:visited {
    display: block;
    width: 120px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #666666;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}

a#nav:hover, a#nav:active {
    background-color: #949494;
}